/* ------------ VARIABLES ------------ */
:root{
    /* FONT */
    --font: 'Poppins', sans-serif;
    /* COLORS */
    --color: #9176FF;
    --bg-color: #f4f4f4;
  }
  
  .socities{
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    padding-left:10px;
    background-color: var(--bg-color);
  }
  
  /* ----------- SLIDER ------------ */
  .swiper{
    width: 100%;
  }
  
  .swiper-wrapper{
    width: 100%;
    height: 25em;
    display: flex;
    align-items: center;
  }
  
  .slide-track{
    display: flex;
  }
  
  .cardi{
    width: 17em;
    height: 70%;
    background-color: #4573C0;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 0.8em 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.2rem 1rem 0.2rem;
    border: 20px solid #4573C0 !important;
    border-radius: 1rem;
    margin: 0 2em;
  }
  
  .carouselImages{
    width: 100%;
    border-radius:10px;
  }
  
  .swiper-slide:not(.swiper-slide-active){
    filter: blur(1px);
  }
  